@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url("../assets/img/rock.png") center no-repeat;
    background-size: cover;
    font-size: 15px;
    line-height: 0.8;
    background-color: rgba(7, 7, 43, 0.8);
    position: relative;
}

.center-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro__inner {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

form {
    margin: 0;
}

label {
    font-size: 25px;
    font-weight: bold;
    display: block;
}

input {
    width: calc(100% - 20px);
    padding: 14px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.btn {
    width: calc(100% - 20px);
    padding: 14px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

.item {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    display: block;
}

.gf {
    text-decoration: none;
    font-family: 'Kaushan Script';
    color: #000;
}

/*container*/
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
}

/* header */
.header {
    overflow: hidden;
    background-color: #fff;
    padding: 8px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header--fixed {
    padding: 8px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

/* nav */
.nav {
    font-size: 16px;
    text-transform: uppercase;
}

.nav__link {
    color: black;
    margin-left: auto;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Poppins', 'sans-serif';
}

.nav__link:hover {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.nav__link:hover:after {
    opacity: 0;
}


.social-text {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 20px; 
    color: #ffffff;
}

.social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    filter: invert(100%);
}
