@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: url("") center no-repeat;
    background-size: cover;
    font-size: 15px;
    line-height: 0.8;
    background-color: rgba(7, 7, 43, 0.8);
    background-color: #000;
    position: relative;
}

.container{
	width: 100%;
	max-width: 1230px;
	margin: 0 auto; 
}
.center-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* header */
.header {
    overflow: hidden;
    background-color: #fff;
    padding: 8px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header--fixed {
    padding: 8px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #000;
}

/* nav */
.nav {
    font-size: 16px;
    text-transform: uppercase;
}

.nav__link {
    color: black;
    margin-left: auto;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Poppins', 'sans-serif';
}

.nav__link:hover {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.nav__link:hover:after {
    opacity: 0;
}
.gf {
    text-decoration: none;
    font-family: 'Kaushan Script';
    color: #000;
}
.txt{
    
    color: #000;
    margin-top: 39px;
}
.reg-container {
    margin-bottom: 694px;
    font-family: 'Kaushan Script', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 1610px;
    position: relative;
    background-color: #f8f8f8; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input[type="text"]{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 4px;
}
.btn {
    width: 100%;
    padding: 12px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#resultContainer {
    margin-top: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #000;
    margin: 15px 0;
}

h2 {
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #000;
}